.app{
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    background-color: #f1f1f1;
    min-height:100%;
}

.body-container{
    //height: calc(100% - 64px);
    //overflow-y: scroll;
}

.right-nav-buttons{
    display: flex;
    flex-direction: row;
}

.back-icon{
    color:white;
}