.project-list-container{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    height:auto;
    width:auto;
    right:15px;
    left:15px;
    padding-top: 10px;
    padding-bottom: 30px;
}