@import url(https://fonts.googleapis.com/css?family=Roboto:400,300);

html{
  height:100%;
  overflow-y: scroll;
}
body {
  margin: 0;
  padding: 0;
  font-family: Roboto;
  
}

.__react_component_tooltip.show{
  opacity: 1 !important;
}